<ion-header>
  <ion-toolbar>
    <ion-title>
      TESTING SELECT CATEGORY ON iOS
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <ion-item lines="none" mode="md">
    <ion-label position="stacked">Select Endorsement Status</ion-label>
    <ion-select class="input-select-field"
                [interface]="isIos ? 'popover' : 'alert'"
                placeholder="Are you endorsing someone?"
                formControlName="endorserStatus"
                >
        <ion-select-option value="Receiving">Receiving endorsement</ion-select-option>
        <ion-select-option value="Giving">Giving Endorsement</ion-select-option>
    </ion-select>
</ion-item>
</ion-content>